.Main {
    background: #f6f6f6;
    width: 1080px;
    height: 600px;
    top: 212px;
    left: 180px;
    border-radius: 10px;
}

.ContainerFront{
    background: #f6f6f6;
    width: 1080px;
    height: 600px;
    top: 212px;
    left: 180px;
    border-radius: 10px;

}

.ContainerBack{
    background: #f6f6f6;
    width: 1080px;
    height: 600px;
    top: 212px;
    left: 180px;
    border-radius: 10px;

}

.ContainerDatasience{
    background: #f6f6f6;
    width: 1080px;
    height: 600px;
    top: 212px;
    left: 180px;
    border-radius: 10px;

}

.ContainerUxUi{
    background: #f6f6f6;
    width: 1080px;
    height: 600px;
    top: 212px;
    left: 180px;
    border-radius: 10px;
}

